body {
    background: rgb(101, 142, 231);
    margin-left: 100px;
    margin-right: 200px;
}

header {
    margin-top: 70px;
}

h1 {
    color: rgb(159, 159, 243);
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 18px; 
}

footer {
    margin-bottom: 30px;
}
.img_padrao {
    margin-bottom: 20px;
    width: 300px;
}